---
import GitHub from "./icons/GitHub.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Html from "./icons/Html.astro"
import Css from "./icons/Css.astro"
import JavaScript from "./icons/JavaScript.astro"
import React from "./icons/React.astro"

const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-[#003159] text-white",
    icon: Html,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: Css,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#003159] text-white",
    icon: JavaScript,
  },
  REACT: {
    name: "React",
    class: "bg-[#003159] text-white",
    icon: React,
  },
}
const PROJECTS = [
  {
    title: "CONTADOR DE CLICS",
    description:
      "El proyecto Contador de Clics es una aplicación web simple desarrollada para contar la cantidad de clics que realiza un usuario. Está diseñado con una interfaz intuitiva donde cada clic del usuario se refleja en un contador que muestra el número total de clics acumulados. Este proyecto puede servir como una práctica introductoria para aprender conceptos básicos de desarrollo web y manipulación del DOM.",
    link: "https://contador-de-clics-clase.vercel.app/",
    github: "https://github.com/JoseVelzquez/contador-de-clics.git",
    image: "/projects/contador.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.REACT ],
  },
  {
    title: "Aplicación de tareas",
    description:
      "Una aplicación web desarrollada con React para gestionar tareas. Permite a los usuarios añadir, editar y eliminar tareas, con una interfaz intuitiva y responsive. Utiliza componentes de React para una experiencia de usuario dinámica y actualizaciones en tiempo real. Ideal para organizar tareas diarias y proyectos personales.",
    link: "https://aplicacion-tareas-react.vercel.app/",
    github: "https://github.com/JoseVelzquez/aplicacion-tareas.git",
    image: "/projects/listaTareas.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.REACT ],
  },
]
---
<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0 border-b border-gray-300 dark:border-gray-600 pb-8 last:border-b-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img alt="Imagen del proyecto" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>





